ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}
.nom{
	color: white;
	float: left;
	margin-top: 0;
	background-color:none; 
}
body{
	background-image:url("bg.jpg");
	background-repeat: no-repeat;
	background-size: 2020px 967px;
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	color: white;
}
h2{
	color: white;
}
h4{
	color: white;
}
.réseaux{
	float: right;
	padding-top:220px;
	
}
.menu > li
	{background-color: none}

html{
	font-family: arial;
}
.Contact{
	height: 500px;
	width: 100px;
}
